{% extends 'online/layouts/base.html' %}

{% block titulo %}
Iniciar sesión || {{ titulo_principal }}
{% endblock %}

{% block contenido%}
<!-- Begin Kenne's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Shop Related</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Login Or Register</li>
            </ul>
        </div>
    </div>
</div>
<!-- Kenne's Breadcrumb Area End Here -->
<!-- Begin Kenne's Login Register Area -->
<div class="kenne-login-register_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <!-- Login Form s-->
                <form id="formulario-ingresar">
                    {% csrf_token %}
                    <div class="login-form">
                        <h4 class="login-title">Iniciar sesión</h4>
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <label>Correo electrónico*</label>
                                <input class="form-control" type="email" name="email" id="email" placeholder="Correo electrónico">
                            </div>
                            <div class="col-12 mb--20">
                                <label>Contraseña</label>
                                <input class="form-control" type="password" placeholder="Contraseña" id="password" name="password">
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="kenne-login_btn">Iniciar sesión</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Kenne's Login Register Area  End Here -->
{% endblock %}

{% block javascript %}
<script>
    // para prevenir el evento SUBMIT del formulario
    document.getElementById("formulario-ingresar").addEventListener("submit", function(evento){
        evento.preventDefault(); // ya el formulario no debería estar refreshcandose
        login();
    });

    function login() {
        // axios
        const url = '{% url 'ingresar' %}'
        const formulario = document.getElementById("formulario-ingresar");
        const data = new FormData(formulario);
        // data.append("email", 'texto')
        // data.append("password", 'adasdasda')
        axios.post(url, data)
            .then(function(respuesta){
                const url = respuesta.data.url
                const mensaje = respuesta.data.mensaje
                toastr.success(mensaje)
                setTimeout(function(){
                    window.location.replace(url)
                }, 2000)
            })
            .catch(function(error){
                if(error.response){
                    if(error.response.status === 422){
                        const mensaje = error.response.data.mensaje
                        toastr.error(mensaje)
                        const errores = error.response.data.errores
                        mostrarErrores("formulario-ingresar", errores)
                    }
                }
            });
    }
</script>
{% endblock %}