{% extends 'online/layouts/base.html' %}

{% block titulo %}
Registrarse || {{ titulo_principal }}
{% endblock %}

{% block contenido %}
<!-- Begin Kenne's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Shop Related</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Login Or Register</li>
            </ul>
        </div>
    </div>
</div>
<!-- Kenne's Breadcrumb Area End Here -->
<!-- Begin Kenne's Login Register Area -->
<div class="kenne-login-register_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <form action="{% url 'registro' %}" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="login-form">
                        <h4 class="login-title">Registrarse</h4>
                        <div class="row">
                            <div class="col-md-6 col-12 mb-20">
                                <label>Nombres</label>
                                <input value="{{ formulario.nombres.value }}" type="text" placeholder="Nombres" name="nombres" 
                                    class="form-control {% if formulario.nombres.errors %} is-invalid {% endif %}" 
                                />
                                {% if formulario.nombres.errors %}
                                    <div class="invalid-feedback">
                                        <ul>
                                            {% for error in formulario.nombres.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label>Apellido paterno</label>
                                <input value="{{ formulario.apellido_paterno.value }}" type="text" placeholder="Apellido paterno"
                                    class="form-control {% if formulario.apellido_paterno.errors %} is-invalid {% endif %}"
                                    name="apellido_paterno" />
                                {% if formulario.apellido_paterno.errors %}
                                    <div class="invalid-feedback">
                                        <ul>
                                            {% for error in formulario.apellido_paterno.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label>Apellido materno</label>
                                <input value="{{ formulario.apellido_materno.value }}" type="text" 
                                    class="form-control {% if formulario.apellido_materno.errors %} is-invalid {% endif %}"
                                    placeholder="Apellido materno" name="apellido_materno" />
                                {% if formulario.apellido_materno.errors %}
                                    <div class="invalid-feedback">
                                        <ul>
                                            {% for error in formulario.apellido_materno.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <label>Correo electrónico</label>
                                <input value="{{ formulario.email.value }}" type="email" class="form-control {% if formulario.email.errors %} is-invalid {% endif %}"
                                    placeholder="Correo electrónico" name="email" />
                                {% if formulario.email.errors %}
                                    <div class="invalid-feedback">
                                        <ul>
                                            {% for error in formulario.email.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <label>Contraseña</label>
                                <input type="password" class="form-control {% if formulario.password.errors %} is-invalid {% endif %}"
                                placeholder="Contraseña" name="password" />
                                {% if formulario.password.errors %}
                                    <div class="invalid-feedback">
                                        <ul>
                                            {% for error in formulario.password.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <label>Confirmar contraseña</label>
                                <input type="password"
                                    class="form-control {% if formulario.confirmar_password.errors %} is-invalid {% endif %}"
                                    placeholder="Confirmar contraseña" name="confirmar_password" />
                                {% if formulario.confirmar_password.errors %}
                                    <div class="invalid-feedback">
                                        <ul>
                                            {% for error in formulario.confirmar_password.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-12">
                                <button type="submit" class="kenne-register_btn">Registrarse</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Kenne's Login Register Area  End Here -->
{% endblock %}